.container{
    width: 1050px;
    height: 1050px;
    border-style: solid;
  }
  
  .box{
    width: 250px;
    height: 250px;
    border-style: solid;
  }
  
  .purple{
    background-color: purple;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .red{
    background-color: red;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  
  .yellow{
    background-color: yellow;
    position: fixed;
    left: 0px;
    bottom: 0px;
  }
  